@import "tailwindcss";

/* Configuración del Modo Oscuro para Tailwind 4:
   Le decimos que el modo oscuro se activa cuando la clase 'dark' está presente.
*/
@variant dark (&:where(.dark, .dark *));

/* Estilos base por si acaso */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}